<!-- Modal -->
<div class="modal fade dar" id="choiceModal" tabindex="-1" role="dialog" aria-labelledby="choiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content dark-version">
            <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Choose your template</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-10 text-center">
                        <div class="my-gallery d-flex mt-4 pt-2" itemscope="" itemtype="http://schema.org/ImageGallery">
                            <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a href="{{ asset('example.png') }}" itemprop="contentUrl" data-size="500x600">
                                    <img class="w-100 min-height-100 max-height-100 border-radius-lg shadow" src="{{ asset('example.png') }}" />
                                </a>
                            </figure>
                            <figure class="ms-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a href="{{ asset('example.png') }}" itemprop="contentUrl" data-size="500x600">
                                    <img class="w-100 min-height-100 max-height-100 border-radius-lg shadow" src="{{ asset('example.png') }}" itemprop="thumbnail" alt="Image description" />
                                </a>
                            </figure>
                            <figure class="ms-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a href="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-details-4.jpg" itemprop="contentUrl" data-size="500x600">
                                    <img class="w-100 min-height-100 max-height-100 border-radius-lg shadow" src="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-details-4.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                            </figure>
                            <figure class="ms-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a href="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-details-5.jpg" itemprop="contentUrl" data-size="500x600">
                                    <img class="w-100 min-height-100 max-height-100 border-radius-lg shadow" src="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-details-5.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                            </figure>
                            <figure class="ms-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a href="{{ asset('example.png') }}" itemprop="contentUrl" data-size="500x600">
                                    <img class="w-100 min-height-100 max-height-100 border-radius-lg shadow" src="{{ asset('example.png') }}" itemprop="thumbnail" alt="Image description" />
                                </a>
                            </figure>
                            <figure class="ms-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a href="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-details-4.jpg" itemprop="contentUrl" data-size="500x600">
                                    <img class="w-100 min-height-100 max-height-100 border-radius-lg shadow" src="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-details-4.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                            </figure>
                            <figure class="ms-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a href="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-details-5.jpg" itemprop="contentUrl" data-size="500x600">
                                    <img class="w-100 min-height-100 max-height-100 border-radius-lg shadow" src="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-details-5.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                            </figure>
                        </div>
                        <!-- Root element of PhotoSwipe. Must have class pswp. -->
                        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                            <!-- Background of PhotoSwipe.
            It's a separate element, as animating opacity is faster than rgba(). -->
                            <div class="pswp__bg"></div>
                            <!-- Slides wrapper with overflow:hidden. -->
                            <div class="pswp__scroll-wrap">
                                <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                                <!-- don't modify these 3 pswp__item elements, data is added later on. -->
                                <div class="pswp__container">
                                    <div class="pswp__item"></div>
                                    <div class="pswp__item"></div>
                                    <div class="pswp__item"></div>
                                </div>
                                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                                <div class="pswp__ui pswp__ui--hidden">
                                    <div class="pswp__top-bar">
                                        <!--  Controls are self-explanatory. Order can be changed. -->
                                        <div class="pswp__counter"></div>
                                        <button class="btn btn-white btn-sm pswp__button pswp__button--close">Close (Esc)</button>
                                        <button class="btn btn-white btn-sm pswp__button pswp__button--fs">Fullscreen</button>
                                        <button class="btn btn-white btn-sm pswp__button pswp__button--arrow--left">Prev
                                        </button>
                                        <button class="btn btn-white btn-sm pswp__button pswp__button--arrow--right">Next
                                        </button>
                                        <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                                        <!-- element will get class pswp__preloader--active when preloader is running -->
                                        <div class="pswp__preloader">
                                            <div class="pswp__preloader__icn">
                                                <div class="pswp__preloader__cut">
                                                    <div class="pswp__preloader__donut"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                        <div class="pswp__share-tooltip"></div>
                                    </div>
                                    <div class="pswp__caption">
                                        <div class="pswp__caption__center"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <a target="_blank" href="{{ path('convert_word_to_pdf') }}" type="button" class="btn bg-gradient-primary">Download</a>
            </div>
        </div>
    </div>
</div>
