{% extends 'base.html.twig' %}

{% block title %}Education index{% endblock %}

{% block body %}
    <h1>Education index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>School</th>
                <th>Grad</th>
                <th>Description</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education in education %}
            <tr>
                <td>{{ education.id }}</td>
                <td>{{ education.school }}</td>
                <td>{{ education.grad }}</td>
                <td>{{ education.description }}</td>
                <td>{{ education.startDate ? education.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ education.endDate ? education.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ education.createdAt ? education.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ education.updatedAt ? education.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('education_show', {'id': education.id}) }}">show</a>
                    <a href="{{ path('education_edit', {'id': education.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('education_new') }}">Create new</a>
{% endblock %}
