<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content dark-version">
            <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="exampleModalLongTitle">Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body p-3">
                <div class="row">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                             Date: {{ task.startDate|date('Y-m-d H:i') }} - {{ task.startDate|date('H:i') }}
                            </div>
                            <div class="col-md-4">
                             Ticket: <a href="{{ path('ticket_show', {'id': task.ticket.id}) }}"> #{{ task.ticket.id }} </a>
                            </div>
                            <div class="col-md-12">
                             Tasks: {{ task.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn bg-gradient-primary">Edit</button>
                <button type="button" class="btn bg-gradient-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
